<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rocket.myshop.mapper.ItemMapper">

  <resultMap id="DtoResultMap" type="com.rocket.myshop.dto.ItemDto">
    <id column="id_" jdbcType="INTEGER" property="id" />
    <result column="title_" jdbcType="VARCHAR" property="title" />
    <result column="sell_point_" jdbcType="VARCHAR" property="sellPoint" />
    <result column="price_" jdbcType="DECIMAL" property="price" />
    <result column="num_" jdbcType="INTEGER" property="num" />
    <result column="barcode_" jdbcType="VARCHAR" property="barcode" />
    <result column="img_logo_" jdbcType="VARCHAR" property="imgLogo" />
    <result column="status_" jdbcType="CHAR" property="status" />
    <result column="create_time_" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time_" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="seller_id_" jdbcType="VARCHAR" property="sellerId" />
    <result column="item_category_name_" jdbcType="VARCHAR" property="itemCategoryName" />
    <result column="item_brand_name_" jdbcType="VARCHAR" property="itemBrandName" />
    <result column="sale_clients_" jdbcType="VARCHAR" property="saleClients" />
  </resultMap>
  
  <select id="listItem" resultMap="DtoResultMap" parameterType="map">
  	select * from shop_item
  	LIMIT #{start}, #{length}
  </select>
  
  <select id="getCount" resultType="_int" parameterType="map">
  	select count(1) from shop_item 
  	LIMIT #{start}, #{length}
  </select>
</mapper>