<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rocket.myshop.mapper.ItemBrandMapper">

  <resultMap id="DtoResultMap" type="com.rocket.myshop.dto.ItemBrandDto">
    <id column="id_" jdbcType="INTEGER" property="id" />
    <result column="update_time_" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="create_time_" jdbcType="TIMESTAMP" property="createTime" />
    <result column="logo_" jdbcType="VARCHAR" property="logo" />
  </resultMap>
  
  <select id="listItemBrand" resultMap="DtoResultMap" parameterType="map">
  	select * from shop_item_brand
  	<where>
  		<if test="status!=null">
  			and status_=#{status}
  		</if>
  		<if test="name!=null and name!=''">
  			and name_=#{name}
  		</if>
  		<if test="createTimeBegin!=null and createTimeBegin!=''">
  			and #{createTimeBegin} &lt;create_time_
  		</if>
  		<if test="createTimeEnd!=null and createTimeEnd!=''">
  			and #{createTimeEnd} &gt; create_time_
  		</if>
  	</where>
  	order by create_time_ desc LIMIT #{start}, #{length}
  </select>
  
  <select id="getCount" resultType="_int" parameterType="map">
  	select count(1) from shop_item_brand
  	<where>
  		<if test="status!=null">
  			and status_=#{status}
  		</if>
  		<if test="name!=null and name!=''">
  			and name_=#{name}
  		</if>
  		<if test="createTimeBegin!=null and createTimeBegin!=''">
  			and #{createTimeBegin} &lt;create_time_
  		</if>
  		<if test="createTimeEnd!=null and createTimeEnd!=''">
  			and #{createTimeEnd} &gt; create_time_
  		</if>
  	</where>
  </select>
</mapper>