<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd">

	<context:annotation-config />

	<mvc:default-servlet-handler />
	
	<mvc:annotation-driven validator="validator"/>
	
	<context:component-scan base-package="com.rocket.myshop.controller" />

	<bean id="contentNegotiationManager"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean"
		p:ignoreAcceptHeader="true" 
		p:favorPathExtension="true"
		p:defaultContentType="text/html">
		<!-- 用来定义哪些扩展名（如：/user/123.json），或协商参数值（如：/user/123?format=xml)是可识别的 -->
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html" />
				<entry key="json" value="application/json" />
			</map>
		</property>
	</bean>
	<!-- 协商多种视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver"
		p:order="0">
		<property name="contentNegotiationManager" ref="contentNegotiationManager"></property>
		<property name="defaultViews">
			<list>
				<!--application/json -->
				<bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
			</list>
		</property>
		<property name="viewResolvers">
			<list>
				<ref bean="internalResourceViewResolver"/>
				<ref bean="beanNameViewResolver"/>
			</list>
		</property>
	</bean>
	<!-- Excel及PDF视图解析器配置 -->
	<bean id="beanNameViewResolver" class="org.springframework.web.servlet.view.BeanNameViewResolver"
		p:order="10" />

	<!-- 配置视图解析器，将ModelAndView及字符串解析为具体的页面，默认优先级最低 -->
	<bean id="internalResourceViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/WEB-INF/pages/" 
		p:suffix=".jsp" />
		
</beans>
